/* Styles for the about section */
.about-section {
  padding: 50px 0;
  color:#fff;
  line-height: 1.5;
  background-image: url('../assets/img/3d2.jpg');

}

.about-section-columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about-section-column {
  flex-basis: calc(100% - 20px);
  margin-bottom: 40px;
}

.about-section-content-box {
  
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Styles for about section rows */
.about-section-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
}
.about-section-row-animate {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.about-section-row-animate.animate {
  opacity: 1;
  transform: translateY(0);
}


.about-section-row img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.about-section-row h3 {
  margin: 0;
  font-size: 1em;
  color: #333;
}

.about-section-row p {
  color:rgb(0,0,0,1.0);
  font-size: 1.0em;
  margin: 10px;
  text-align: justify;
  /*font-style: italic;*/
}

/* Specific background colors for statements */

.about-section-column-1 .about-section-row:nth-child(2) {
  background-color: rgb(255,153,153,0.8); /* Blue */
}
.about-section-column-1 .about-section-row:nth-child(3) {
  background-color: rgb(255,255,153,0.8); /* Yellow */
}

.about-section-column-1 .about-section-row:nth-child(4) {
  background-color: rgb(153,255,153,0.8); /* Blue */
}
.about-section-column-1 .about-section-row:nth-child(5) {
  background-color: rgb(153,204,255,0.8); /* Yellow */
}

.about-section-column-1 .about-section-row:nth-child(6) {
  background-color: rgb(204,153,255,0.8); /* Blue */
}
.about-section-column-1 .about-section-row:nth-child(7) {
  background-color: rgb(255,153,204,0.8); /* Yellow */
}
.about-section-column-1 .about-section-row:nth-child(8) {
  background-color: rgb(153,255,255,0.8); /* Yellow */
}

.about-section-column-2 .about-section-row:nth-child(1) {
  background-color: rgb(255,204,153,0.8);
}

.about-section-column-2 .about-section-row:nth-child(2) {
  background-color: rgb(153,255,204,0.8);
}
.about-section-column-2 .about-section-row:nth-child(3) {
  background-color: rgb(204,255,204,0.8);
}

.about-section-column-2 .about-section-row:nth-child(4) {
  background-color: rgb(255,204,204,0.8);
}


/*
.about-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.about-section-columns {
  display: flex;
  width: 100%;
}

.about-section-column {
  display: flex;
  flex-direction: column;
}

.about-section-column-1 {
  width: 40%;
}

.about-section-column-2 {
  width: 60%;
}

.about-section-img {
  width: 100%;
}

.about-section-content-box {
  padding: 20px;
}

.about-section-row {
  margin-bottom: 10px;
}

.skills-section-heading {
  margin-bottom: 10px;
}

.about-section-row:nth-child(2) {
  background-color: #f8d7da;
  padding: 10px;
}

.about-section-row:nth-child(3) {
  background-color: #cce5ff;
  padding: 10px;

}

.about-section-row:nth-child(4) {
  background-color: #d4edda;
  padding: 10px;

}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.btn:hover {
  background-color: #0056b3;
}
*/